*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: system-ui, -apple-system, "Segoe UI Emoji", "Apple Color Emoji", sans-serif;
    }
    
    /* BACKGROUND */
    body{
    background: linear-gradient(135deg,#667eea,#764ba2);
    min-height:100vh;
    display:flex;
    justify-content:center;
    padding:40px;
    color:white;
    }
    
    /* CONTENEDOR */
    main{
    width:100%;
    max-width:600px;
    }
    
    /* HEADER */
    header{
    text-align:center;
    margin-bottom:30px;
    }
    
    header h1{
    font-size:36px;
    font-weight:700;
    }
    
    /* CARD */
    .card{
    background:white;
    color:#333;
    padding:25px;
    border-radius:16px;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
    margin-bottom:20px;
    transition:all .2s ease;
    }
    
    .card:hover{
    transform:translateY(-5px);
    }
    
    /* TITULOS */
    h2{
    margin-bottom:15px;
    }
    
    /* INPUT */
    input{
    width:100%;
    padding:12px;
    border-radius:10px;
    border:none;
    background:#f1f5f9;
    margin-bottom:10px;
    font-size:14px;
    outline:none;
    }
    
    input:focus{
    box-shadow:0 0 0 2px #667eea;
    }
    
    /* BOTONES */
    button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:10px;
    background:linear-gradient(135deg,#667eea,#764ba2);
    color:white;
    font-weight:600;
    cursor:pointer;
    transition:all .2s ease;
    }
    
    button:hover{
    transform:scale(1.03);
    opacity:0.9;
    }
    
    /* LISTA */
    ul{
    margin-top:10px;
    }
    
    li{
    background:#f1f5f9;
    padding:12px;
    border-radius:10px;
    margin-bottom:8px;
    list-style:none;
    transition:all .2s;
    cursor:pointer;
    }
    
    li:hover{
    transform:scale(1.02);
    }
    
    /* MENU */
    .menu-btn{
    position:fixed;
    top:20px;
    right:20px;
    background:white;
    color:#333;
    border:none;
    border-radius:10px;
    padding:10px;
    cursor:pointer;
    z-index:1000;
    }
    
    .side-menu{
    position:fixed;
    top:0;
    right:-260px;
    width:260px;
    height:100%;
    background:white;
    color:#333;
    padding:20px;
    box-shadow:-5px 0 20px rgba(0,0,0,0.2);
    transition:0.3s;
    }
    
    .side-menu.open{
    right:0;
    }
    
    .side-menu button{
    margin-bottom:10px;
    }
    
    /* DARK MODE */
    body.dark{
    background:#0f172a !important;
    }
    
    body.dark .card{
    background:#1e293b;
    color:white;
    }
    
    body.dark li{
    background:#334155;
    }
    
    body.dark input{
    background:#0f172a;
    color:white;
    }
    
    body.dark .side-menu{
    background:#1e293b;
    color:white;
    }
    
    body.dark .menu-btn{
    background:#1e293b;
    color:white;
    }
    .completed{
        text-decoration: line-through;
        opacity: 0.6;
        }