---
---
---
import Card from "../components/Card.astro"
---
<html>

<head>
  <title>Mi app de tareas</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

<header>
  <h1>Mi lista de tareas</h1>
</header>

<Card>
  <h2>Agregar tarea</h2>
  <input id="taskInput" type="text">
  <button id="addBtn">Agregar</button>
</Card>

<Card>
  <h2>Tareas</h2>
  <ul id="taskList"></ul>
</Card>



<Card>
  <h2>Sobre la app</h2>
  <p>Esta app permite organizar tareas.</p>
</Card>

<script src="/script.js" is:inline></script>
</body>

</html>