---
import Card from "../components/Card.astro"
import "../styles/global.css"
---

<html lang="es">

<head>
  <title>Mi app de tareas</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

<!-- BOTÓN DE MENÚ -->
<button id="menuBtn" class="menu-btn">⚙</button>

<!-- MENÚ LATERAL -->
<div id="sideMenu" class="side-menu">

  <h3>Opciones de tareas</h3>

  <button id="darkModeBtn"> 🌙 Modo oscuro</button>

  <button id="clearBtn"> Borrar tareas</button>

  <button id="completeAllBtn"> ✔ Marcar todas</button>

</div>

<header>
  <h1>Mi lista de tareas</h1>
</header>

<Card>
  <h2>Agregar tarea</h2>
  <input id="taskInput" type="text" placeholder="Escribe una tarea">
  <button id="addBtn">Agregar</button>
</Card>

<Card>
  <h2>Tareas</h2>
  <ul id="taskList"></ul>
</Card>

<Card>
  <h2>Sobre la app</h2>
  <p>Esta app permite organizar tareas.</p>
</Card>

<script src="/script.js" is:inline></script>

</body>

</html>